@charset "UTF-8";
@font-face {
  font-family: "Gunterz";
  src: url("fonts/FONTSPRINGDEMO-GunterzBlackItalic.eot");
  src: local("☺"), url("fonts/FONTSPRINGDEMO-GunterzBlackItalic.woff") format("woff"), url("fonts/FONTSPRINGDEMO-GunterzBlackItalic.ttf") format("truetype"), url("fonts/FONTSPRINGDEMO-GunterzBlackItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #451140 8.68%, #a82d92 48.44%, #451140 100%);
}

body {
  height: 100%;
  background: url("../images/Blocks.svg") no-repeat 100% 0;
  background-attachment: fixed;
  background-size: 55%;
}
@media screen and (max-width: 768px) {
  body {
    background: inherit;
  }
}

@media screen and (max-width: 768px) {
  main {
    background: url("../images/Blocks_mob.svg") no-repeat 0 93.11vw;
    background-attachment: scroll;
    background-size: 100%;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 0 5.21vw;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 6.39vw;
  }
}

.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.logo {
  margin-top: 25px;
  width: 8.23vw;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-top: 6.11vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
  }
}

.slots {
  position: absolute;
  top: -17%;
  right: 48%;
  box-sizing: border-box;
  margin-bottom: -10.42vw;
  height: 140%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .slots {
    height: 100vw;
    top: 18%;
    left: -10%;
    z-index: 0;
  }
}

.title {
  font-weight: 700;
  display: block;
  line-height: 0.9;
  margin: 0;
  font-family: Gunterz;
  font-style: italic;
  font-size: 4.6vw;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  padding: 0 1.04vw;
}
@media screen and (max-width: 768px) {
  .title {
    width: 100%;
    padding: 1.04vw;
    font-size: 7.9vw;
    z-index: 5;
  }
}

.title__stroke {
  margin: 0;
  line-height: 0.9;
  top: 2px;
  font-weight: 700;
  position: absolute;
  z-index: -1;
  font-size: 4.6vw;
  font-family: Gunterz;
  font-style: italic;
  -webkit-text-stroke: 1px rgb(180, 114, 162);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
@media screen and (max-width: 768px) {
  .title__stroke {
    position: absolute;
    width: 100%;
    top: -0.28vw;
    padding: 1.04vw;
    font-size: 7.9vw;
    z-index: 0;
  }
}

.shadow__title__new {
  position: relative;
  text-align: center;
  background: linear-gradient(180deg, #ffffff 27%, #ff88e9 80.73%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .shadow__title__new {
    width: 100%;
    margin-top: 11.11vw;
  }
}

.shadow__title__bonus {
  position: relative;
  text-align: center;
  background: linear-gradient(172.03deg, #af7e2c 1.67%, #f2e171 22.75%, #b38430 51.9%, #f2e171 98.97%, #e0bd77 111.39%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .shadow__title__bonus {
    width: 110%;
  }
}

.title__bonus {
  margin: 0;
  padding: 0 20px;
  line-height: 1.15;
  font-family: Gunterz;
  font-style: italic;
  font-weight: bold;
  font-size: 7.29vw;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .title__bonus {
    padding: 0 0;
    font-size: 19.44vw;
  }
}

.title__bonus__stroke {
  margin: 0;
  padding: 0 20px;
  top: -1px;
  line-height: 1.14;
  position: absolute;
  font-family: Gunterz;
  font-style: italic;
  font-size: 7.29vw;
  -webkit-text-stroke: 1px #f2e171;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .title__bonus__stroke {
    width: 100%;
    padding: 0 0;
    left: 0.11vw;
    font-size: 19.44vw;
  }
}

.hero {
  display: flex;
  justify-content: end;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .hero__info {
    width: 100%;
  }
}

.description {
  margin: -1.78vw 0px 0.6vw 0px;
  letter-spacing: 0.1vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 2.34vw;
  line-height: 2.22;
  color: #ffffff;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .description {
    width: 100%;
    font-size: 6.67vw;
    margin-top: 80vw;
  }
}

.description--accent {
  color: #dcc15a;
}

.steps {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  counter-reset: section;
}
@media screen and (max-width: 768px) {
  .steps {
    display: none;
  }
}

.steps__item {
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.2;
  align-items: center;
  color: #ffffff;
}

.steps__item::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  top: -0.9vw;
  right: 110%;
  font-family: Poppins;
  font-weight: 900;
  font-size: 3.33vw;
  align-items: center;
  color: #e247c6;
}

.steps__item:not(:last-child)::after {
  content: "";
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  height: 1.3vw;
  width: 1.3vw;
  position: absolute;
  left: 130%;
  top: 25%;
}

.steps__item--accent {
  text-transform: uppercase;
  font-weight: 700;
}

.terms {
  margin-top: 1.3vw;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-size: 0.63vw;
  line-height: 0.94vw;
  /* identical to box height */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 768px) {
  .terms {
    margin-top: 6.94vw;
    font-size: 2.5vw;
    margin-bottom: 12.22vw;
  }
}

.button_animation {
  margin-top: 4.17vw;
  margin-right: -2.1vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .button_animation {
    margin-right: -6.1vw;
  }
}

.terms_container {
  width: 100%;
}

.fs-table-item.link {
  color: #ff7100;
  font-family: Poppins;
}

.fs-embed-body {
  background: white;
}

#text_slide2,
#text_slide3,
#text_slide4,
#text_slide5 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 29.89vw;
  opacity: 0;
}

#text_slide1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 24.89vw;
  opacity: 0;
}

.fs-header-actions-label {
  display: none;
}

.fs-country-flag {
  display: none;
}

.button_text {
  transform: skew(30deg);
  margin: 0;
  padding: 0;
}

.button span {
  background: transparent;
  will-change: transform, filter;
  float: none;
  margin: 0;
  transition: all 0.15s ease-out;
  height: auto;
  overflow: hidden;
  display: block;
  transform: rotateX(0deg) rotateY(0deg) scale(1);
  box-shadow: 0px 0px 40px rgba(255, 55, 220, 0.5), 0px 0px 70px rgba(255, 55, 220, 0.2), 0px 2px 50px #ff37dc, inset 0px -4px 2px #dec45d, inset 0px 1px 0px #c6a013;
  font-weight: 600;
  perspective-origin: 0 0;
  letter-spacing: 0;
  line-height: 3.33vw;
  background: radial-gradient(43.88% 50% at 56.12% 50%, #f8dd77 0%, rgba(248, 221, 119, 0) 100%), #ffdf65;
}
@media screen and (max-width: 768px) {
  .button span {
    line-height: 14.72vw;
  }
}

.button {
  transform-style: preserve-3d;
  margin: 4px 1.1vw 0vw -0.8vw;
  background: transparent;
  border: 0.05vw solid #fdeb87;
  border-radius: 0.05vw;
  border: none;
  width: 12.76vw;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.15vw;
  line-height: 1.72vw;
  transform: skew(-30deg);
  text-transform: uppercase;
  transform-style: preserve-3d;
  padding: 0;
  height: 3.33vw;
  color: #79206b;
}
.button:hover + .item_right {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .button {
    width: 56.67vw;
    margin-right: 3.4vw;
    height: 14.72vw;
    font-size: 5vw;
  }
}

.steps__item__mobile {
  margin-left: 32.11vw;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.2;
  align-items: center;
  color: #ffffff;
  width: 90%;
}
@media screen and (max-width: 768px) {
  .steps__item__mobile {
    font-size: 5vw;
  }
}

.one {
  margin-left: 24.11vw;
}

.three {
  margin-left: 26.51vw;
}

.steps__item__mobile.one::before {
  content: "1";
  position: absolute;
  top: -0.9vw;
  right: 110%;
  font-family: Poppins;
  font-weight: 900;
  font-size: 3.33vw;
  align-items: center;
  color: #e247c6;
}
@media screen and (max-width: 768px) {
  .steps__item__mobile.one::before {
    font-size: 17.78vw;
    top: -5vw;
    right: 110%;
  }
}

.steps__item__mobile.two::before {
  content: "2";
  position: absolute;
  top: -0.9vw;
  right: 110%;
  font-family: Poppins;
  font-weight: 900;
  font-size: 3.33vw;
  align-items: center;
  color: #e247c6;
}
@media screen and (max-width: 768px) {
  .steps__item__mobile.two::before {
    font-size: 17.78vw;
    top: -5vw;
    right: 110%;
  }
}

.steps__item__mobile.three::before {
  content: "3";
  position: absolute;
  top: -0.9vw;
  right: 110%;
  font-family: Poppins;
  font-weight: 900;
  font-size: 3.33vw;
  align-items: center;
  color: #e247c6;
}
@media screen and (max-width: 768px) {
  .steps__item__mobile.three::before {
    font-size: 17.78vw;
    top: -5vw;
    right: 110%;
  }
}

.steps__item__mobile.four::before {
  content: "4";
  position: absolute;
  top: -0.9vw;
  right: 110%;
  font-family: Poppins;
  font-weight: 900;
  font-size: 3.33vw;
  align-items: center;
  color: #e247c6;
}
@media screen and (max-width: 768px) {
  .steps__item__mobile.four::before {
    font-size: 17.78vw;
    top: -5vw;
    right: 110%;
  }
}

.slick-next {
  margin-right: 2vw;
  color: transparent;
  background: inherit;
  border: none;
  width: 3.89vw;
  background: url("../images/triangle.svg") no-repeat 100%;
  background-size: contain;
}

.slick-prev {
  color: transparent;
  background: inherit;
  border: none;
  width: 3.89vw;
  background: url("../images/arrowleft.svg") no-repeat 100%;
  background-size: contain;
}

.single-item {
  display: none;
}
@media screen and (max-width: 768px) {
  .single-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    counter-reset: steps;
  }
}

.slick-dots {
  margin: 0;
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.slick-list {
  width: 70%;
}

.slick-active #slick-slide-control00 {
  background-color: #e247c6 !important;
}

.slick-active #slick-slide-control01 {
  background-color: #e247c6 !important;
}

.slick-active #slick-slide-control02 {
  background-color: #e247c6 !important;
}

.slick-active #slick-slide-control03 {
  background-color: #e247c6 !important;
}

#slick-slide-control00 {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 1.67vw;
  height: 1.67vw;
  color: transparent;
  border: none;
  border-radius: 100%;
}

#slick-slide-control01 {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 1.67vw;
  height: 1.67vw;
  color: transparent;
  border: none;
  border-radius: 50%;
}

#slick-slide-control02 {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 1.67vw;
  height: 1.67vw;
  color: transparent;
  border: none;
  border-radius: 50%;
}

#slick-slide-control03 {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 1.67vw;
  height: 1.67vw;
  color: transparent;
  border: none;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}

.icons__block {
  display: flex;
  align-items: center;
  margin-left: -25px;
}

.icon {
  margin-left: 1.3vw;
}

.icon-1 {
  width: 1.35vw;
}

.icon-2 {
  width: 1.93vw;
}

.icon-3 {
  width: 1.09vw;
}

.icon-4 {
  width: 2.4vw;
}
@media screen and (max-width: 768px) {
  .icon-4 {
    width: 12.78vw;
  }
}

.icon-5 {
  width: 3.23vw;
}
@media screen and (max-width: 768px) {
  .icon-5 {
    width: 17.22vw;
  }
}

.icon-6 {
  width: 3.23vw;
}
@media screen and (max-width: 768px) {
  .icon-6 {
    width: 17.22vw;
  }
}

.icon-7 {
  width: 3.23vw;
}
@media screen and (max-width: 768px) {
  .icon-7 {
    width: 17.22vw;
  }
}

.icon-8 {
  width: 3.18vw;
}
@media screen and (max-width: 768px) {
  .icon-8 {
    width: 18.89vw;
  }
}

.icon-9 {
  width: 3.18vw;
}
@media screen and (max-width: 768px) {
  .icon-9 {
    width: 18.89vw;
    margin-left: 6.94vw;
  }
}

.icon-10 {
  width: 1.82vw;
}
@media screen and (max-width: 768px) {
  .icon-10 {
    width: 12.22vw;
  }
}

.icon-11 {
  width: 1.35vw;
}
@media screen and (max-width: 768px) {
  .icon-11 {
    width: 9.17vw;
    margin-left: 6.94vw;
  }
}

.icon-12 {
  width: 0.78vw;
}

.icon-13 {
  width: 0.78vw;
}

.icon-14 {
  width: 0.89vw;
}

.icon-15 {
  width: 0.94vw;
}

.footer_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer_mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.menu {
  margin: 5.56vw 0px 4.17vw 0px;
  padding: 0;
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.menu_item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.58vw;
  line-height: 4.17vw;
  margin: 0;
  color: #ffffff;
}

.social_list {
  margin-bottom: 4.17vw;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon_footer {
  width: 5vw;
}

.social_list_2 {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.17vw;
}

.icon_footer_2 {
  width: 9.17vw;
}

.icon_footer_3 {
  margin-left: 4.17vw;
  width: 13.89vw;
}

.footer_first_part {
  width: 100%;
  background: #161616;
}

.footer_second_part {
  width: 100%;
  background: #000;
}

.payment {
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 5vw;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 3.89vw;
}

.payment_list {
  margin-top: 5.56vw;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wall {
  display: block;
  width: 10%;
  margin: 5.56vw auto 5.56vw auto;
}

.payment_list_2 {
  margin-top: 5.56vw;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_footer {
  display: block;
  width: 25%;
  margin: 11.94vw auto 3.61vw auto;
}

.about {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.78vw;
  line-height: 4.17vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.sitemap {
  margin-top: 6.11vw;
  margin-bottom: 15.78vw;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.78vw;
  line-height: 4.17vw;
  text-align: center;
  color: #ffffff;
}

.sitemap_description {
  margin-left: 6.94vw;
}

.item_right {
  width: 12vw;
  height: 3.33vw;
  transform: skew(-30deg);
}
@media screen and (max-width: 768px) {
  .item_right {
    height: 14.72vw;
    width: 22.22vw;
  }
}

table {
  margin: 0;
  padding: 0;
  height: 3.1vw;
}

.el_button {
  width: 12.8vw;
  height: 5.7vw;
  display: inline-block;
}

.el_tu,
.el_tul {
  width: 1.1vw;
  height: 3.33vw;
  display: inline-block;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
@media screen and (max-width: 768px) {
  .el_tu,
.el_tul {
    height: 14.72vw;
    width: 3.33vw;
  }
}

.el_tu:nth-child(1) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.el_tu:nth-child(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.el_tu:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.el_tu:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.el_tu:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media screen and (max-width: 768px) {
  .el_tu:nth-child(5) {
    display: none;
  }
}

.el_tu:nth-child(6) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@media screen and (max-width: 768px) {
  .el_tu:nth-child(6) {
    display: none;
  }
}

.el_tu:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@media screen and (max-width: 768px) {
  .el_tu:nth-child(7) {
    display: none;
  }
}

.el_tu:nth-child(8) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
@media screen and (max-width: 768px) {
  .el_tu:nth-child(8) {
    display: none;
  }
}

.el_tu:nth-child(9) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
@media screen and (max-width: 768px) {
  .el_tu:nth-child(9) {
    display: none;
  }
}

.el_tul:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.el_tul:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.el_tul:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.el_tul:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.el_tul:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media screen and (max-width: 768px) {
  .el_tul:nth-child(5) {
    display: none;
  }
}

.el_tul:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@media screen and (max-width: 768px) {
  .el_tul:nth-child(4) {
    display: none;
  }
}

.el_tul:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@media screen and (max-width: 768px) {
  .el_tul:nth-child(3) {
    display: none;
  }
}

.el_tul:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
@media screen and (max-width: 768px) {
  .el_tul:nth-child(2) {
    display: none;
  }
}

.el_tul:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
@media screen and (max-width: 768px) {
  .el_tul:nth-child(1) {
    display: none;
  }
}

.item_left {
  width: 12vw;
  height: 3.33vw;
  transform: skew(-30deg);
}
@media screen and (max-width: 768px) {
  .item_left {
    height: 14.72vw;
    width: 21.22vw;
  }
}

.el_button {
  width: 12.8vw;
  height: 5.7vw;
  display: inline-block;
}

.el_shine {
  width: 1.1vw;
  height: 3.7vw;
  display: inline-block;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.el_shine:nth-child(9) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.el_shine:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.el_shine:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.el_shine:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.el_shine:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.el_shine:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.el_shine:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.el_shine:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.el_shine:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.el_shine:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes blink {
  0%, 20% {
    background: #f2e171;
    box-shadow: 0px 0px 40px rgba(255, 55, 220, 0.5), 0px 0px 70px rgba(255, 55, 220, 0.4), 0px 2px 50px #ff37dc;
    border-radius: 0px;
  }
  10% {
    background: #fede67;
    box-shadow: 0px 0px 40px rgba(255, 55, 220, 0.5), 0px 0px 70px rgba(255, 55, 220, 0.4), 0px 2px 50px #ff37dc;
    border-radius: 0px;
  }
}

@keyframes blink {
  0%, 20% {
    background: #f2e171;
    box-shadow: 0px 0px 40px rgba(255, 55, 220, 0.5), 0px 0px 70px rgba(255, 55, 220, 0.4), 0px 2px 50px #ff37dc;
    border-radius: 0px;
  }
  10% {
    background: #fede67;
    box-shadow: 0px 0px 40px rgba(255, 55, 220, 0.5), 0px 0px 70px rgba(255, 55, 220, 0.4), 0px 2px 50px #ff37dc;
    border-radius: 0px;
  }
}
.block {
  position: absolute;
  width: 75%;
  height: 73%;
  left: 25%;
  top: 0%;
  opacity: 1;
}

.new_shadow_block_duble {
  position: absolute;
  width: 30vw;
  top: 2.1vw;
  margin-left: 64.95vw;
  font-family: Gunterz;
  font-style: italic;
  font-size: 4.6vw;
  display: flex;
  -webkit-text-stroke: 0.8px rgb(246, 151, 224);
  text-stroke: 1px rgba(254, 162, 238, 0);
  -webkit-background-clip: text;
  color: transparent;
}

.new_shadow_block_duble_tu {
  position: absolute;
  width: 30vw;
  top: 4.8vw;
  margin-left: 9.6vw;
  font-family: Gunterz;
  font-style: italic;
  font-size: 4.6vw;
  display: flex;
  -webkit-text-stroke: 0.9px rgb(180, 114, 162);
  text-stroke: 1px rgba(254, 162, 238, 0);
  -webkit-background-clip: text;
  color: transparent;
}

.title_op_tu_or {
  position: absolute;
  width: 43%;
  height: 29%;
  left: 52%;
  top: 45%;
  color: #ffffff;
}

.resp-tab {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  font-size: 34px;
}

.button_litera {
  position: absolute;
  width: 7%;
  height: 7%;
  left: 67.5%;
  top: 73.5%;
}/*# sourceMappingURL=main.css.map */