.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icons__block {
  display: flex;
  align-items: center;
  margin-left: -25px;
}

.icon {
  margin-left: 25px;
}

.icon-1 {
  width: 1.35vw;
}

.icon-2 {
  width: 1.93vw;
}

.icon-3 {
  width: 1.09vw;
}

.icon-4 {
  width: 2.4vw;
}

.icon-5 {
  width: 3.23vw;
}

.icon-6 {
  width: 3.23vw;
}

.icon-7 {
  width: 3.23vw;
}

.icon-8 {
  width: 3.18vw;
}

.icon-9 {
  width: 3.18vw;
}

.icon-10 {
  width: 1.82vw;
}

.icon-11 {
  width: 1.35vw;
}

.icon-12 {
  width: 0.78vw;
}

.icon-13 {
  width: 0.78vw;
}

.icon-14 {
  width: 0.89vw;
}

.icon-15 {
  width: 0.94vw;
}
